{% extends 'base.html' %}
{% load static %}

{% block title %}
    Profil de {{ user.username }}
{% endblock %}

{% block main_content %}
<div id="wrapper">
    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
        {% include 'partials/sidebar.html' %}
    </ul>
    <!-- End of Sidebar -->
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                {% include 'partials/navbar.html' %}
            </nav>
            <!-- End of Topbar -->
            <!-- Begin Page Content -->
            <div class="container-fluid">
                <!-- Informations de l'Utilisateur -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Informations de l'Utilisateur</h6>
                    </div>
                    <div class="card-body">
                        <form action="" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="profile_pic">Photo de profil</label>
                                <input type="file" class="form-control-file" id="profile_pic" name="profile_pic">
                                <!-- Afficher la photo actuelle de l'utilisateur -->
                                {% if user.profile.profile_pic %}
                                    <img src="{{ user.profile.profile_pic.url }}" alt="Profile Picture" width="100">
                                {% else %}
                                    <p>Aucune photo de profil.</p>
                                {% endif %}
                            </div>
                            <div class="form-group">
                                <label for="username">Nom d'utilisateur</label>
                                <input type="text" class="form-control" id="username" name="username" value="{{ user.username }}">
                            </div>
                            <div class="form-group">
                                <label for="first_name">Prénom</label>
                                <input type="text" class="form-control" id="first_name" name="first_name" value="{{ user.first_name }}">
                            </div>
                            <div class="form-group">
                                <label for="last_name">Nom</label>
                                <input type="text" class="form-control" id="last_name" name="last_name" value="{{ user.last_name }}">
                            </div>
                            <div class="form-group">
                                <label for="password">Mot de passe</label>
                                <input type="password" class="form-control" id="password" name="password">
                            </div>
                            <button type="submit" class="btn btn-primary">Enregistrer</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of Main Content -->
        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            {% include 'partials/footer.html' %}
        </footer>
        <!-- End of Footer -->
    </div>
    <!-- End of Content Wrapper -->
    <!-- End of Page Wrapper -->
</div>
{% endblock %}
